html {
  scroll-behavior: smooth;
}
.action{
    background-color: #fff;
}
h1{
    font-family:"Poppins",Helvetica,Arial,sans-serif ;
    text-align: center;
    margin: 30px;
}
#work img{
    height: 260px;
    width: 250px;
}

.w3-container > h3{
    font-family:"Poppins",Helvetica,Arial,sans-serif ;
    text-align: center;
    line-height: 1.3;
}

#myNavbar a, #mySidebar a, #philo a, #jump1,#jump2{
    text-decoration: none;
}
#jump1, #jump2{
    border-radius: 50px;
    font-size: 18px;
    font-weight: bolder;
}

/********* Grid : Technologies Section ********/

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.item >img{
    height: 200px;
    width:  200px;
}
.item >img:hover{
    box-shadow:  2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    transform: scale(1.2);
    
}

@media only screen and (max-width: 600px){ 
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .item >img{
        height: 120px;
        width:  120px;
    }
}

#stats{
    background-color: #1b2e63 ;
    color: #fff;
    line-height: 1.2;
}


/************ Skills **********************/
#skills{
    font-family:"Poppins",Helvetica,Arial,sans-serif ;
    font-size: medium;
    line-height: 1.7;
}
/******************* CONTACT ***************/

#contact{
    background-size: cover;
    background-image: url("../img/contact-us-banner.jpg");
    height: 75%;
    font-family:"Poppins",Helvetica,Arial,sans-serif ;
    color: white;
    margin-top: 30px;
    padding-top: 50px;
    opacity: 1.0;
}

#contact h1{
	padding-top: 20px;
	padding-bottom: 20px;
}
#contact .btn{
	margin: 20px;
	padding: 10px;
	border:2px solid;
	border-radius: 30px;
	color: #fff;
}
.contact .col-md-4 .fa{
	font-size: 35px;
}
i a{
    color: #fff;
}